@import url(https://fonts.googleapis.com/css?family=Lora|Raleway);
$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-serif: 'Lora', serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

